
@{
    ViewBag.Title = "UpdateDocumentType";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card text-bg-light ">
    <div class="card-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Belge Türü İşlemleri</a></li>
            <li class="breadcrumb-item active" aria-current="page">Belge Türü Ekleme</li>
        </ol>
    </div>
</div>

