@using EntityLayer.Concrete
@model List<Student>



@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card text-bg-light ">
    <div class="card-header">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Öğrenci İşlemleri</a></li>
            <li class="breadcrumb-item active" aria-current="page">Öğrenci Listeleme</li>
        </ol>
    </div>
</div>


<div class="card bg-light">
    <div class="card-body">

        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Ad Soyad</th>
                <th>Numara/Mail</th>
                <th>Tanımlanmış Belgeler</th>
                <th>Güncelle</th>

            </tr>
            @{
                    int i = 0;
                    foreach (var student in Model)
                    {
                    i++;
                        <tr>

                            <td>
                                @i
                            </td>
                            <td>@student.StudentName @student.StudentSurname</td>
                            <td>@(student.StudentUniversityRegistered ? student.StudentNo : student.StudentMail)</td>
                            <td style="text-align:center "><a href="/Admin/StudentUpdate/@student.StudentID" class="btn btn-success">Tanımlanmış Belgeler</a></td>
                            <td style="text-align:center"><a href="/Admin/StudentUpdate/@student.StudentID" class="btn btn-warning">Güncelle</a></td>
                        </tr>
                }

            }

        </table>


    </div>
</div>
