
@{
    ViewBag.Title = "PDF Olarak Gürüntüleme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <object data="@ViewBag.PDFUrl" type="application/pdf" width="100%" height="900px" />
</div>

@if (ViewBag.PDFUrl != null)
{



}
else
{
    <div class="col-md-12">
        <p>Bir Sorun Oluştu:@(ViewBag.Error != null ? ViewBag.Error : "Hata mesajı gösterilemiyor.")</p>
    </div>
}




